In [1]:
#Dependencies and Setup
import pandas as pd

In [2]:
# Load in file
cities = "Resources/cities.csv"

In [3]:
# Read and display the CSV with Pandas
cities_pd = pd.read_csv(cities)
cities_pd.head()

,City_ID,City,Country,Date,Temperature,Latitude,Longtude,Humidity,Wind speed,Cloudiness
0,0,Asopos,GR,1565234428,69.27,36.73,22.85,43,6.55,0
1,1,Lorengau,PG,1565234428,85.85,-2.02,147.27,62,1.07,11
2,2,Longyearbyen,NO,1565234428,46.40,78.22,15.63,70,8.05,75
3,3,Prainha,BR,1565234428,73.68,-1.80,-53.48,76,1.54,9
4,4,Mahebourg,MU,1565234393,67.50,-20.41,57.70,83,3.36,40

In [4]:
pd.set_option('display.max_colwidth', -1)
open('data.html', 'w').write(cities_pd.to_html(na_rep = "", index = False))

134634